* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bodyy {
    background-image: url(./Image/img2.jpg);
    background-repeat: calc(1);
    background-size: cover;
}


.header {
    width: 100%;
    margin: 0 auto;
}


/* <!-- 登入欄             登入欄--> */
.load {

    color: white;
    font-size: 18px;
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.67), rgb(13, 13, 13));
}

.load_Item {
    text-decoration: none;
    color: white;
    border-radius: 10px;

}

.load_Menu {
    width: 100%;
    height: 30px;
    padding: 3px 0px 3px 0px;
    display: flex;
    justify-content: right;
    align-items: center;
}


/* <!-- 前言照片          前言照片--> */

/* 輪播圖片區                輪播圖片區*/
div.introduction {
    display: flex;
    text-align: center;
    justify-content: center;
}

ul.slidess {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgba(2, 2, 2, 0.788);
    overflow: hidden;
    transition: .5s transform ease-in-out;
}

li.slide {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
}

li.slide img {
    width: 1466px;
    height: 400px;
}


.slide:nth-of-type(1) {
    left: 0%;
}

.slide:nth-of-type(2) {

    left: 100%;
}

.slide:nth-of-type(3) {

    left: 200%
}

#control_1,
#control_2,
#control_3 {
    z-index: 1;
    position: relative;
    display: none;
}

.control_visible {
    position: absolute;
    bottom: 12px;
    left: 50%;
}

.control_visible label {
    display: inline-block;
    background: rgb(255, 254, 254);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px;
}

.slidess input:nth-of-type(1):checked~.control_visible label:nth-of-type(1) {
    background: rgb(243, 125, 56);
}

.slidess input:nth-of-type(2):checked~.control_visible label:nth-of-type(2) {
    background: rgb(243, 125, 56);
}

.slidess input:nth-of-type(3):checked~.control_visible label:nth-of-type(3) {
    background: rgb(243, 125, 56);
}

.slidess input:nth-of-type(1):checked~.slide:nth-of-type(1) {
    transform: translateX(0%);
}

.slidess input:nth-of-type(2):checked~.slide:nth-of-type(2) {
    transform: translateX(-100%);
}

.slidess input:nth-of-type(3):checked~.slide:nth-of-type(3) {
    transform: translateX(-200%);
}


/* <!-- 導覽列             導覽列--> */
.navbar {
    background: rgba(114, 110, 110, 0.67);
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(41, 40, 40, 0.67), rgb(13, 13, 13));
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    z-index: 1;
}

.nav_Menu {
    text-align: center;
}

.nav_Menu>li:hover {
    background: rgb(26, 25, 25);
}

.nav_Item {
    display: inline-block;
    list-style: none;
    padding: 15px 15px;
    background-image: linear-gradient(to bottom, rgba(33, 32, 32, 0.697), rgb(3, 3, 3));
    margin: 0px -5px;
    position: relative;
}

.nav_Item_a {
    color: rgb(243, 240, 240);
    font-size: 24px;
    padding: 0px 30px;
    text-decoration: none;
}


/* 導覽列     百岳專區    */

.nav_Mount {
    position: absolute;
    top: 70px;
    background: white;
    width: 250px;
    height: 150px;
    text-align: left;
    display: none;
}

.nav_Mount_Menu {
    list-style-type: none;
    padding: 50px 20px 0px 50px;
    font-size: 20px;
}


.nav_Mount_Item {
    position: absolute;
    top: -15px;
    left: 80px;
    margin: 20px 40px;
}

.nav_Mount_Item li {
    width: 120px;
    padding: 5px 0px;
    list-style: none;
}


.nav_Mount_Item a {
    text-decoration: none;
    padding: 10px 18px;
    color: black;
    font-size: 18px;
}

.nav_Mount_Item li:hover {
    background: wheat;
}


/* 導覽列     小百岳專區    */
.nav_Small_Mount {
    position: absolute;
    top: 220px;
    background: white;
    width: 250px;
    height: 150px;
    text-align: left;
    display: none;
}

.nav_Small_Mount_Menu {
    list-style-type: none;
    padding: 50px 20px 0px 50px;
    font-size: 20px;
}

.nav_Small_Mount_Item {
    position: absolute;
    top: -15px;
    left: 80px;
    padding: 20px 40px;
}

.nav_Small_Mount_Item li {
    width: 120px;
    padding: 5px 0px;
    list-style: none;
}

.nav_Small_Mount_Item a {
    text-decoration: none;
    padding: 10px 18px;
    color: black;
    font-size: 18px;
}

.nav_Small_Mount_Item li:hover {
    background: wheat;
}

.nav_Menu .nav_Item:hover ul {
    display: block;
}


/* 季節限定              全區 */

.nav_Reason_Item {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 0px;
}

.nav_Reason_Item li {
    width: 100px;
    padding: 3px 0px;
    list-style: none;
}

.nav_Reason_Item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

ul.nav_Reason_Sp :hover,
ul.nav_Reason_Su :hover,
ul.nav_Reason_Fa :hover,
ul.nav_Reason_Wi :hover {
    background: wheat;
}

ul.nav_Reason_Sp,
ul.nav_Reason_Su,
ul.nav_Reason_Fa,
ul.nav_Reason_Wi {
    display: none;
}

.nav_Menu .nav_Item:hover ul {
    display: block;
}

/* 季節限定區            春天           */
.nav_Reason_Sp {
    position: absolute;
    top: 70px;
    left: 60px;
    list-style: none;
    font-size: 20px;
    background: white;
    width: 130px;
    height: 180px;
}

.nav_Reason_Sp_Menu {
    margin: 10px 0px;
}

.nav_Reason_Sp_Menu ul {
    margin: 15px 0px 0px 15px;
}

/* 季節限定區            夏天           */
.nav_Reason_Su {
    position: absolute;
    top: 210px;
    left: 60px;
    list-style: none;
    font-size: 20px;
    background: white;
    width: 130px;
    height: 140px;
}

.nav_Reason_Su_Menu {
    margin: 10px 0px;
}

.nav_Reason_Su_Menu ul {
    margin: 15px 0px 0px 15px;
}

/* 季節限定區            秋天           */
.nav_Reason_Fa {
    position: absolute;
    top: 70px;
    left: 190px;
    list-style: none;
    font-size: 20px;
    background: white;
    width: 130px;
    height: 180px;
}

.nav_Reason_Fa_Menu {

    margin: 10px 0px;
}

.nav_Reason_Fa_Menu ul {
    margin: 15px 0px 0px 15px;
}

/* 季節限定區            冬天           */
.nav_Reason_Wi {
    position: absolute;
    top: 210px;
    left: 190px;
    list-style: none;
    font-size: 20px;
    background: white;
    width: 130px;
    height: 140px;
}

.nav_Reason_Wi_Menu {
    margin: 10px 0px;
}

.nav_Reason_Wi_Menu ul {
    margin: 15px 0px 0px 15px;
}

/* 主搜尋欄             主搜尋欄   */
.small_header {
    width: 1366px;
    margin: 0 auto;
}

.main_Research {
    background: white;
    box-shadow: 0px 0px 6px rgb(121, 119, 119);
    width: 1166px;
    height: 150px;
    margin: 50px 98px;
    border-radius: 5px;

}

.main_Research_Menu {
    background-image: linear-gradient(to bottom, rgb(252, 83, 17), rgb(209, 35, 5));
    list-style-type: none;
    height: 50px;
    border-radius: 5px;
}

.main_Research_Menu li {
    display: inline;
    padding: 0px 80px;
    line-height: 50px;
}

.main_Research_Menu a {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    font-size: 20px;
}

.main_Research_Input {
    width: 905px;
    float: left;
    margin: 20px 2px 30px 75px;
}

.main_Research_Input input {
    height: 45px;
    border-radius: 5px;
    border: 3px solid gray;
    box-shadow: 0px 0px 3px;
}

.input_Start,
.input_End {
    width: 200px;
}

.input_Data {
    width: 300px;
}

.main_Research_Button button {
    width: 100px;
    height: 50px;
    margin: 20px 5px;
    box-shadow: 0px 0px 3px, 0px 0px 3px;
}

.main_Research_Input input:hover {
    border: 3px solid rgb(182, 139, 60);
    box-shadow: 0 0 5px rgb(182, 139, 60);
}


/* <!-- 主內容區     全區設定        主內容區--> */
.main_Content {
    width: 1366px;
    margin: 0 auto;
}

/* <!-- 主內容區   第一區    影片 及  各地山區清單 --> */
.first_Content {
    width: 1166px;
    height: 570px;
    margin: 0px auto;
}

h2 {
    color: white;
    font-size: 24px;
    margin: 10px 0px 20px 0px;
}

.main_Film {
    float: left;
    margin: 0px 10px 0px 0px;
    width: 800px;
    height: 450px;
}

.chart_List {
    width: 280px;
    float: left;
    background: white;
    margin: 60px 0px 0px 50px;
    border-radius: 20px;
}

.chart_List p {
    background-image: linear-gradient(to bottom, rgb(252, 83, 17), rgb(209, 35, 5));
    padding: 22px;
    font-size: 18px;
    border-radius: 15px 15px 0px 0px;
    color: white;
}


.chart_List_Menu li {
    margin: 5px 20px 5px 50px;
    line-height: 30px;
    background: white;
}

.chart_List_Menu li:nth-child(even) {
    background: rgb(247, 232, 204);
    width: 220px;
}

.chart_List_Menu a {
    font-size: 20px;
    color: black;
}

.chart_List_Menu a:hover {
    color: rgb(142, 7, 175);
    font-size: 22px;
}


/* <!-- 主內容區   第二區   --> */
.second_Content {
    background: white;
    width: 1166px;
    height: 310px;
    clear: both;
    margin: 0 auto;
    border-radius: 5px;
}

.second_Content_Outside_frame {
    margin: 0px 0px;
}

.second_Content_title {
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.265);
}

.second_Content_h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 1px;
    float: left;
    width: 250px;
    text-align: center;
    line-height: 50px;
    padding: 10px 0 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);

}

.second_Content_Ul {
    font-weight: bold;
    width: 866px;
    height: 60px;
    margin-left: 250px;
}

.second_Content_Ul li {
    float: left;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgb(243, 170, 87), rgb(248, 60, 3));
    list-style: none;
    line-height: 50px;
    padding: 10px 60px 0 60px;
}

.second_Content_Ul li:hover {
    background-image: linear-gradient(to bottom, rgb(243, 108, 74), rgb(248, 32, 3));
}

.second_Content_Ul a {
    text-decoration: none;
    color: white;
}

.second_Content_Box_Text {
    width: 250px;
    height: 190px;
    float: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.265);
    padding: 30px 0px;
}

.second_Content_Box_Text p {
    line-height: 50px;
    padding: 0px 30px;
}

.second_Content_Box_Text p:first-child {
    color: rgb(189, 8, 8);
    font-size: 20px;
    font-weight: bold;
}

.second_Content_Box_Text a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.second_Content_Box_Text a:hover {
    border-bottom: 1px solid black;
}

.second_Content_Box_img img {
    width: 290px;
    height: 217px;
    margin: 10px 1px 10px 1px;
}

.second_Content_Box_img {
    padding: 5px 10px 5px 265px;
}

.second_Content_Box_img a:hover {
    opacity: 0.6;
}

/* <!-- 主內容區   第三區 --> */
.third_Content {
    background: white;
    width: 1166px;
    height: 330px;
    clear: both;
    margin: 0 auto;
    border-radius: 5px;
}

.third_Content_Outside_frame {
    margin: 50px 0px;
}

.third_Content_title {
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.265);
}


.third_Content_h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 0.5px;
    float: left;
    width: 250px;
    text-align: center;
    line-height: 50px;
    padding: 10px 0 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.124);
}

.third_Content_Ul {
    width: 1166px;
    height: 60px;
    font-weight: bold;
}

.third_Content_Ul li:hover {
    background-image: linear-gradient(to bottom, rgb(243, 108, 74), rgb(248, 32, 3));
}

.third_Content_Ul li {
    float: left;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgb(243, 170, 87), rgb(248, 60, 3));
    list-style: none;
    line-height: 50px;
    padding: 10px 60px 0 60px;
    color: white;
}

.third_Content_Img {
    margin: 20px 20px;
}

.third_Content_Img_Frame {
    float: left;
    margin: 0px 10px 0px 20px;
    height: 230px;
    box-shadow: 0px 0px 5px black;
}

.third_Content_Img_Frame a {
    text-decoration: none;
    color: black;
}

.third_Content_Img_Frame img {
    width: 250px;
    height: 150px;
}

.third_Content_Img_Frame a img:hover {
    opacity: 0.7;
}

.third_Content_Img_Item {
    margin: 0px 8px;
}

.third_Content_Img_Item img {
    width: 25px;
    height: 25px;
}

.third_Content_Img_Item_text {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 8px;
}

.third_Content_Img_Item_text span {
    font-size: 14px;
    color: red;
}


/* <!-- 主內容區   第四區 --> */

.forth_Content {
    background: white;
    margin: 0 auto;
    width: 1166px;
    height: 500px;
    border-radius: 5px;
}

.forth_Content_Title {
    padding: 25px 20px 10px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.265);
    background-image: linear-gradient(to bottom, rgb(243, 170, 87), rgb(248, 60, 3));
    border-radius: 5px 5px 0px 0px;
}

.forth_Content_Title p {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 1px;
    color: white;
}

.forth_Content_Outside_frame {
    margin: 50px 0px;
}

.forth_Content_Img {
    margin: 20px 50px 20px 60px;
    position: relative;
}

.forth_Content_Img>a>img {
    width: 250px;
    height: 188px;
    float: left;
    margin: 5px;
}

#forth_Content_Img_St {
    width: 520px;
    height: 390px;
    z-index: 0;
}

.forth_Content_Img_Move>img {
    width: 520px;
    height: 390px;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.forth_Content_Img img:hover {
    opacity: 0.6;
}

.forth_Content_Img_St:hover~div>.forth_Content_Img_Stmove,
.forth_Content_Img_Nd:hover~div>.forth_Content_Img_Ndmove,
.forth_Content_Img_Rd:hover~div>.forth_Content_Img_Rdmove,
.forth_Content_Img_Th:hover~div>.forth_Content_Img_Thmove {
    display: block;
}


/* <!-- 主內容區   第五區 --> */
.fifth_Content {
    background: white;
    margin: 0 auto;
    width: 1166px;
    height: 505px;
    border-radius: 5px;
}

.fifth_Content_Outside_frame {
    margin: 50px 0px;
}

.fifth_Content_title {
    background-image: linear-gradient(to bottom, rgb(243, 170, 87), rgb(248, 60, 3));
    border-radius: 5px 5px 0px 0px;
}


.fifth_Content_h2 {
    color: rgb(253, 251, 251);
    font-size: 24px;
    float: left;
    width: 230px;
    text-align: center;
    line-height: 50px;
    padding: 10px 0 0 76px;
}

.fifth_Content_Ul {
    width: 1166px;
    height: 60px;
}

.fifth_Content_Ul li {
    float: left;
    font-size: 20px;
    background: rgba(237, 239, 240, 0.959);
    list-style: none;
    line-height: 50px;
    padding: 10px 60px 0 60px;
    box-shadow: 0 0 5px black;
}

.fifth_Content_Ul li:first-of-type {
    margin-left: 90px;
}

.fifth_Content_Box_Menu img {
    width: 350px;
    height: 197px;
    box-shadow: 0 0 5px black;
    margin: 0px 0px 10px 0px;
}

.fifth_Content_Box {
    padding: 0px 11px 0px 15px;
}

.fifth_Content_Box_Menu {
    float: left;
    margin: 30px 14px 30px 14px;
    box-shadow: 0 0 2px black;
}

.fifth_Content_Box_Menu_List {
    width: 350px;
    /* background-color: rgb(54, 10, 10); */
    margin: 0 auto;
}

.fifth_Content_Box_Menu_List ul {
    list-style: square;
}

.fifth_Content_Box_Menu_List li {
    background: rgb(197, 197, 193);
    font-size: 14px;
    padding: 5px 0px;
    list-style: none;
}

.fifth_Content_Box_Menu_List>ul>li>a {
    text-decoration: none;
    color: black;
}

.fifth_Content_Box_Menu_List>ul>li>a>span {
    color: red;
    font-size: 16px;
}

.fifth_Content_Box_Menu_List li:nth-child(even) {
    background: rgb(255, 255, 255);
}


/* <!-- 頁尾                   頁尾--> */
.footer {
    background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.925), rgb(13, 13, 13));
    clear: both;
    margin-top: 50px;
}

.footer div {
    padding: 15px 0px;
}

.footer p {
    color: rgb(255, 254, 254);
    font-size: 12px;
    text-align: center;
    padding: 3px 0px;
}

.footer>div>p span {
    letter-spacing: 3px;
}

.footer p:nth-last-child(1) {
    letter-spacing: 10px;
}